h1{
    color:brown;
}
h2{
    color:aquamarine;
}
.premierp{
    color:coral;
}
.deuxiemep{
    color:blueviolet;
}
.img1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.img2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
